<%- include("header") -%>
<!-- backup color for navbar bg #E8F9FD -->
    <div class="container">
        <div class="row">
            <div class="col textone">
                <h1 class="landingpageText">Create a Professional Resume from real quick!</h1>
                <h3 class="landingpagepara">Click the create button to start sculpting your Resume or Click Getting started for the procedure</h3>
                <br>
          <div class="buttons">
            <button class="started-button btn btn-lg btn-info" type="button"><i class="fa-regular fa-circle-plus"></i> GEtting Started</button>
            <button class="create-button btn btn-lg btn-primary" type="button"><i class="fa-regular fa-circle-plus"></i> Create Resume</button>

          </div>
            </div>
            <div class="col">
                <img src="images/Guy.jpg" alt="guy" class="guypic">

            </div>
        </div>
    </div>
    <%- include("footer") -%>
</body>
</html>